<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-sm-10">
				<h2>{{unit.unit_name}}</h2>
			</div>
			<div class="col-sm-2">
			<a href="#/upload/unit/{{unit.id}}" title="Add Media" class="btn btn-primary" style="margin-top:20px">Add Media</a>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<h3>Images</h3>
			<div class="col-sm-2" ng-repeat="(key,value) in unit.image_path.img">
				<img ng-src="{{value}}" class="img-responsive">
				<a href="javascript:" class="btn btn-danger" ng-click='delete(value,key)' title="Delete" style="margin:10px 0"><span class="glyphicon glyphicon-trash"></span></a>			
			</div>
		</div>
	</div>
</div>