<div class="panel panel-default">
	<div class="panel-heading">
		<h2>comments <small>(Total : {{tableData.total}})</small></h2>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-5">
				<form class="form-inline">
					<div class="form-group">
						<label for="search">Search : </label>
						<input type="text" id="search" class="form-control" ng-model="search">
					</div>			
				</form>				
			</div>
			<div class="col-sm-5">
				<form class="form-inline">
					<div class="form-group">
						<label>Results per page</label>
						<select class="form-control" ng-model="result" ng-change="load(result)">
							<option ng-repeat="x in perPageArray">{{x}}</option>
						</select>
					</div>			
				</form>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<th>User Name</th>
						<th>Project Name</th>
						<th>View</th>
						<th>Show/Hide</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr class="gradeX" ng-repeat="(key, value) in comments | filter:search">
						<td>{{value.user_name}}</td>
						<td>{{value.project_name}}</td>
						<td><a href="javascript:" class="btn btn-primary" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a></td>
						<td style="vertical-align: middle;">
							  <input id="toggleComment" class="cmn-toggle cmn-toggle-round" type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="comments[key].is_approved" ng-checked="comments[key].is_approved==1?true:false" ng-click="setValue(key)">
							  <label for="toggleComment"></label>
						</td>
						<td><a ng-click="delete(value)" class="btn btn-danger" title="Delete"><span class="glyphicon glyphicon-trash"></span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<nav>
		  <ul class="pager">
		    <li class="previous" ng-show="show_prev_btn"><a href="javascript:" ng-click="prev()"><span aria-hidden="true">&larr;</span> Previous</a></li>
		    <li class="next" ng-show="show_next_btn"><a href="javascript:" ng-click="next()">Older <span aria-hidden="true">&rarr;</span></a></li>
		  </ul>
		</nav>		
	</div>
</div>