<form name="updateLocationForm">
	<div class="form-group">
		<label for="city">City Name</label>
		<input type="text" name="city" id="city" ng-model="location.city" class="form-control" placeholder="City Name" autofocus required value="{{location.city}}">
	</div>
	<div class="form-group">
		<label for="areas">Areas</label>
		<textarea id="areas" name="areas" required ng-model="location.areas" class="form-control" rows="15" placeholder="Enter areas seperated with #" style="resize:none"></textarea>
	</div>
	<div class="form-group">
		<a href="#/locations" class="btn btn-warning">Cancel</a>
		<button class="btn btn-success" ng-click="update(updateLocationForm)">Update</button>
	</div>
</form>