<form name="updateBuilderForm">
	<div class="form-group">
		<label for="city">Builder Name</label>
		<input type="text" name="name" id="name" ng-model="builder.builder_name" class="form-control" placeholder="Builder Name" autofocus required>
	</div>

	<div class="form-group">
		<label>Builder Description</label>
		<textarea ng-model="builder.builder_description" class="form-control" placeholder="description" required rows="10"></textarea>
	</div>
	
	<div class="form-group">
		<a href="#/builder" class="btn btn-warning">Cancel</a>
		<button class="btn btn-success" ng-click="update(updateBuilderForm)">Update</button>
	</div>
</form>