#footer {
  background: #F0F0E9;
  padding-bottom: 0;
  margin-top:5%;
  text-align: left;
}
.footer-top .container {
  border-bottom: 1px solid #E0E0DA;
  padding-bottom: 20px;
}

.companyinfo {
  margin-top: 57px;
}

.companyinfo h2 {
  color: #B4B1AB;
  font-family: abel;
  font-size: 27px;
  text-transform: uppercase;
}

.companyinfo h2  span{
  color:#FE980F;
}

.companyinfo p {
  color: #B3B3AD;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
}

.footer-top .col-sm-3{
  overflow: hidden;
}

.video-gallery {
  margin-top: 57px;
  position: inherit;
}

.video-gallery a img {
  height: 100%;
  width: 100%;
}

.iframe-img {
  position: relative;
  display: block;
  height: 61px;
  margin-bottom: 10px;
  border: 2px solid #CCCCC6;
  border-radius: 3px;
}

.overlay-icon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 61px;
  background: #FE980F;
  border-radius: 3px;
  color: #FFF;
  font-size: 20px;
  line-height: 0;
  display: block;
  opacity: 0;
   -webkit-transition: 300ms;
  -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.overlay-icon i {
  position: relative;
  top: 50%;
  margin-top: -20px;
}

.video-gallery a:hover .overlay-icon{
  opacity: 1;
}

.video-gallery p {
  color: #8C8C88;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-bottom:0px;
}

.video-gallery  h2 {
  color: #8c8c88;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform:uppercase;
  margin-top:0px;
}


.address {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}
.address  img {
  width:100%;
}

.address p {
  color: #666663;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  left: 25px;
  position: absolute;
  top: 50px;
}

.footer-widget {
  margin-bottom: 68px;
}

.footer-widget .container {
  border-top: none;
  padding-top: 0;
}

.single-widget h2 {
  color: #666663;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.single-widget h2 i{
  margin-right:15px;
}

.single-widget ul li a{
  color: #8C8C88;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 5px 0;
}

.single-widget ul li a i {
  margin-right: 18px;
}

.single-widget ul li a:hover{
  background:none;
  color:#FE980F;
}


.searchform input {
  border: 1px solid #DDDDDD;
  color: #CCCCC6;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-top: 0;
  outline: medium none;
  padding: 7px;
  width: 212px;
}


.searchform button {
  background: #FE980F;
  border: medium none;
  border-radius: 0;
  margin-left: -5px;
  margin-top: -3px;
  padding: 7px 17px;
}

.searchform button i {
  color: #FFFFFF;
  font-size: 20px;
}

.searchform  button:hover, 
.searchform  button:focus{
  background-color:#FE980F;
}

.searchform p {
  color: #8C8C88;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-top: 25px;
}

.footer-bottom {
  background: #D6D6D0;
  padding-top: 10px;
}

.footer-bottom p {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-left: 15px;
}

.footer-bottom p span a {
  color: #FE980F;
  font-style: italic;
  text-decoration: underline;
}
      #owl-demo .item{
 
  padding: 30px 0px;
  margin: 10px;
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav-tabs{
  border-bottom: none;
}

#contact .form-control{
  border-radius: 0;
  border:none;
}
#contact .nav-tabs>li>a,#contact .nav-tabs>li>a:hover{
  border-radius: 0;
}

#contact .btn-xl{
  border-radius: 0;
  line-height: 1;
}
section{
  padding:0;
}
section#contact{
  padding:150px 0;
}
.item{
  padding:5px;
  height:200px;
}
.pagination-area{
  margin-bottom: 0;
}
.blog-post-area .single-blog-post h3 {
    margin-bottom: 10px 0 17px;
    border-top: 2px solid #f5f5f5;
    padding: 17px 0 0 25px;
}
.testimonial
{
margin: 0;
background: #fff;
padding: 10px 50px;
position: relative;
font-family: Georgia, serif;
color: #666;
border-radius: 5px;
font-style: italic;
text-shadow: 0 1px 0 #ECFBFF;
background-image: linear-gradient(#fff, #fff);
}
.testimonial:before
{
content: "\201C";
position: absolute;
font-size: 80px;
line-height: 1;
color: #999;
font-style: normal;
}

.testimonial:after
{
position: absolute;
font-size: 80px;
line-height: 1;
color: #999;
font-style: normal;
}
.testimonial:before
{
top: 0;
left: 10px;
}
.testimonial:after
{
right: 10px;
bottom: -0.5em;
}
.arrow-down
{
width: 0;
height: 0;
border-left: 15px solid transparent;
border-right: 15px solid transparent;
border-top: 15px solid #B7EDFF;
margin: 0 0 0 25px;
}
.testimonial-author
{
margin: 0 0 0 25px;
font-family: Arial, Helvetica, sans-serif;
color: #999;
text-align:left;
}
.testimonial-author span
{
font-size: 12px;
color: #666;
}
ul{
  list-style: none outside none;
  padding-left: 0;
}
.gallery li {
  display: block;
  float: left;
  height: 100px;
  margin-bottom: 6px;
  margin-right: 6px;
  width: 100px;
}
.gallery li a {
  height: 100px;
  width: 100px;
}
.gallery li a img {
  max-width: 100px;
}
.transition200{
  transition:200ms;
  -webkit-transition:200ms;
  -o-transition:200ms;
}
#contact-wrapper{
  position: absolute;
  right: 0px;
  width: 365px;
  height:400px;
  overflow:hidden;
  z-index:99999;
  top:50px;
}
#contact-wrapper label.error {
  color: #F00;
  text-shadow: 1px 1px 1px #1F1F1F;
  width: 300px;
  text-align: right;
}
#contact-wrapper .floating-contact-inner {
  position: absolute;
  width: 340px;
  background: #3c424a url(/assets/imge/denim.png) repeat;
  padding: 30px 10px 20px 10px;
  font: 12px Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 1px #3C3C3C;
  color: #FFF;
  border-radius: 10px 0px 0px 10px;
  right: -340px;
}
#contact-wrapper .floating-contact-inner h1>span {
    display: block;
    font-size: 11px;
}
#contact-wrapper .floating-contact-inner label {
  display: block;
  margin: 0px 0px 10px;
}
#contact-wrapper .floating-contact-inner label>span {
    float: left;
    width: 80px;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
}
#contact-wrapper .floating-contact-inner input[type="text"], 
#contact-wrapper .floating-contact-inner input[type="email"], 
#contact-wrapper .floating-contact-inner textarea, 
#contact-wrapper .floating-contact-inner select {
  border:1px solid #3C424A;
  color: #3C3C3C;
  height: 24px;
  outline: 0 none;
  padding: 3px 0px 3px 5px;
  width: 200px;
  font: normal 12px/12px arial, "Times New Roman", Times, serif;
  margin: 2px 0px 0px;
  border-radius: 5px;
}
#contact-wrapper .floating-contact-inner select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 210px;
    height: 30px;
}
#contact-wrapper .floating-contact-inner textarea{
    height:100px;
}
#contact-wrapper .floating-contact-inner .button {
  background: #FE980F;
  border: none;
  padding: 5px 25px 5px 25px;
  color: #FFF;
  border-radius: 5px;
  text-shadow: 1px 1px 1px #223944;
  box-shadow: 1px 1px 1px #1D1D1D;
}
#contact-wrapper .floating-contact-inner .button:hover {
  background: #479AB6
}
#contact-wrapper #contact-btn {
  background: url(/assets/imge/contact-btn.png) no-repeat;
  height: 71px;
  width: 22px;
  float: left;
  cursor: pointer;
  margin: 80px 0px 0px -32px;
  
} 
#contact-wrapper #contact-btn:hover {
  background: url(/assets/imge/contact-btn.png) no-repeat -22px 0px;
}
#contact-wrapper .success{
  padding: 0px 20px 20px;
}
#contact-wrapper .success h2{
  font-size: 20px;
  border-bottom: 1px dotted #686868;
  padding: 0px;
  margin: 10px 0px 10px 0px;
}
#contact-wrapper #result .error{
  text-align: center;
  color: #FF0000;
  text-shadow: 1px 1px 1px #1F1F1F;
}
#slider{
  margin:3% 0;
}
div.horizontal{
  display: flex;
  height: 95%;
}
div.vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
}
.img-responsive{
  max-height:100%;
}

.product-image-wrapper{
  margin-bottom: 0;
}
.features_items{
  margin-bottom: 25px;
}
.blog-post-area .single-blog-post h3{
  margin-top:0;
}