<section class="mainSearch">
  <div class="container">        
    <h1>Search your dream home</h1>
    <div class="mainSearchForms customTabsHolder">
      <ul class="nav nav-pills">
        <li class="active"><a href="javascript:" class="customTabs" data-show="basicForm">Basic</a></li>
        <li><a href="javascript:" class="customTabs" data-show="advancedForm">Advance</a></li>
      </ul>     
      <form class="row basicForm" name="basicSearchForm">
        <div class="col-sm-3">              
          <div class="form-group">
            <select class="form-control" ng-model="basicSearch.city">
              <option ng-repeat="(key, value) in cities" value="{{value.city}}">{{value.city}}</option>
            </select>              
          </div>  
        </div>
        <div class="col-sm-7">
          <div class="form-group suggestionBox">
            <input type="text" class="form-control" placeholder="Search Query" ng-model="basicSearch.query" ng-model-options="{debounce: 600}" ng-change="basicLiveSearch()">
            <p ng-hide="basicLiveSearchResult != ''" class="text-center noResult">No Result</li>
            <div class="suggestions">
              <p>Projects</p>
              <ul>
                <li ng-repeat="(key, value) in basicLiveSearchResult"><a href="javascript:" ng-click="basicSearch.query = value.name">{{value.name}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <button type="submit" class="btn btn-lg" ng-click="BSearch(basicSearchForm)">SEARCH</button>
          </div>
        </div>
      </form> 
      <form class="row advancedForm hideElem" name="advancedSearchFrom">
        <div class="col-sm-3">
          <div class="form-group">
            <select class="form-control" ng-model="advancedSearch.city">
              <option ng-repeat="(key, value) in cities" value="{{value.city}}">{{value.city}}</option>
            </select>
          </div>              
        </div>
        <div class="col-sm-9">
          <div class="form-group suggestionBox">
            <input type="text" class="form-control" placeholder="Search Query" ng-model="advancedSearch.query" ng-change="advancedLiveSearch()" ng-model-options="{debounce: 600}">
            <p ng-hide="advancedLiveSearchResult != ''" class="text-center noResult">No Result</p>
            <div class="suggestions">
              <p>Projects</p>
              <ul>
                <li ng-repeat="(key, value) in advancedLiveSearchResult"><a href="javascript:" ng-click="advancedSearch.query = value.name">{{value.name}}</a></li>
              </ul>
            </div>          
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <select ng-model="advancedSearch.unit_type" class="form-control" ng-init="advancedSearch.unit_type=unitTypes[0].text">
              <option ng-repeat="(key, value) in unitTypes">{{value.text}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <select class="form-control" ng-model="advancedSearch.price" ng-init="advancedSearch.price = '0'">
              <option ng-repeat="(key, value) in priceRanges" value='{{key}}'>{{value.text}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-lg" ng-click="ASearch(advancedSearchFrom)">SEARCH</button>
        </div>
      </form>
    </div>
  </div>
</section>
<section class="container projectSlidersContainer">
  <div class="projects">
    <h2>Hot Projects</h2>       
    <div id="hotProjects" class="owl-carousel">
      <div ng-repeat="(key, value) in hotProperties" ui-sref="property({slug:value.slug})">
        <div class="horizontal">
          <div class="vertical">
            <img ng-src="{{value.media.property.cover[0]}}" alt="" class="img-responsive">
          </div>
        </div>
        <h4>{{value.name}}</h4>
      </div>           
    </div>       
  </div>
  <div class="projects">
    <h2>Newly Launched</h2>
    <div id="newlyLaunchedProjects" class="owl-carousel">       
      <div ng-repeat="(key, value) in newProperties" ui-sref="property({slug:value.slug})">
        <div class="horizontal">
          <div class="vertical">
            <img ng-src="{{value.media.property.cover[0]}}" alt="" class="img-responsive">
          </div>
        </div>
        <h4>{{value.name}}</h4>
      </div>          
    </div>       
  </div>
  <div class="projects">
    <h2>Best Investment Projects</h2>
    <div id="bestInvestmentProjects" class="owl-carousel">       
      <div ng-repeat="(key, value) in BIProperties" ui-sref="property({slug:value.slug})">
        <div class="horizontal">
          <div class="vertical">
            <img ng-src="{{value.media.property.cover[0]}}" alt="" class="img-responsive">
          </div>
        </div>
        <h4>{{value.name}}</h4>
      </div>          
    </div>       
  </div>          
</section>