<div ng-controller="contactController"><div contact-us></div></div>

<!--slider-->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="col-sm-12">
                            <img src="{{property.media.property.cover[0]}}" style="margin:auto" class="girl img-responsive" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/slider-->

<section>
    <div id="contact-page" class="container">
        <div class="bg">        
            <div class="row"> 
                <h2 class="title text-center">OVERVIEW</h2>
                <div ng-bind-html="property.data.overview"></div>
            </div>  
        </div>  
    </div>
</section>

<section>
    <div id="contact-page" class="container">
        <div class="bg">        
            <div class="row"> 
                <h2 class="title text-center">UNIT AND PRICE LIST</h2>
                <div class="unitsData">                    
                    <div ng-bind-html="property.data.price_list" class="priceList"></div>
                    <div ng-bind-html="property.data.payment_plan" class="paymentList"></div>
                </div>
            </div>  
        </div>  
    </div>
</section>

<section>
    <div id="contact-page" class="container">
        <div class="bg">        
            <div class="row"> 
                <h2 class="title text-center">SPECIFICATIONS</h2>
                <div class="col-sm-1" ng-repeat="(key,value) in specifications">
                    <div class="productinfo text-center">
                        <img ng-src="{{value.icon_path.logo[0]}}">
                        <h6>{{value.name}}</h6>
                    </div>
                </div>             
            </div>  
        </div>  
    </div>
</section>

<section id="slider">
    <div id="contact-page" class="container">
        <div class="bg">        
            <div class="row">   
                <div class="col-sm-8">
                    <div class="contact-form">
                        <h2 class="title text-center">Google Map</h2>
                        <div ng-bind-html="property.data.google_map_code"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact-form">
                        <h2 class="title text-center">ADDRESS</h2>
                        <address>
                            <p style="text-align: center;"><b>{{property.name}}</b></p>
                            <p style="text-align: center;">{{property.address}}</p>
                        </address>
                    </div>
                    <h2 class="title text-center">POSSESSION</h2>
                    <div class="productinfo text-center">
                        <img src="/assets/images/home/key.jpg" style="height: 50%; width:50%;">
                        <h2>{{property.possession_text}}</h2>
                    </div>                    
                </div>              
            </div>  
        </div>  
    </div>
</section>

<section>
    <div id="contact-page" class="container">
        <div class="bg">        
            <div class="row"> 
                <h2 class="title text-center">GALLERY</h2>
                <ul id="light-gallery" class="gallery">
                    <li data-src="{{value}}" ng-repeat="(key,value) in property.media.property.gallery">
                        <a href="">
                            <img class="img-responsive" src="{{value}}" />
                        </a>
                    </li>
                    <li data-src="{{value}}" ng-repeat="(key,value) in property.media.property.const_update">
                        <a href="">
                            <img class="img-responsive" src="{{value}}" />
                        </a>
                    </li>      
                </ul>  
            </div>  
        </div>  
    </div>
</section>
<section>
    <div id="contact-page" class="container">
        <div class="bg">        
            <div class="row">   
                <div class="col-sm-12">
                    <div class="contact-form">
                        <h2 class="title text-center">Features</h2>
                        <div ng-bind-html="property.data.features" class="projectFeatures"></div>
                    </div>
                </div>           
            </div>  
        </div>  
    </div>
</section>

<section>
    <div id="contact-page" class="container">
        <div class="bg">        
            <div class="row"> 
                <h2 class="title text-center">BUILDER</h2>
                <div class="col-sm-4">
                    <div class="contact-form">
                        <div class="productinfo text-center">
                            <img ng-src="{{builder.logo_link.logo[0]}}" class="img-responsive">
                            <h2>{{builder.builder_name}}</h2>
                        </div>
                    </div>
                </div>              
                <div class="col-sm-8">
                    <p>{{builder.builder_description}}</p>
                    <button class="btn btn-primary pull-right">View all Projects</button>
                </div>      
            </div>  
        </div>  
    </div>
</section>

<section>
    <div id="contact-page" class="container">
        <div class="bg">        
            <div class="row">   
                <div class="col-sm-8">
                    <div class="contact-form">
                        <h2 class="title text-center">Comments</h2>
                        <div style="overflow-y: scroll; height:400px;">
                            <div class="status alert alert-success" style="display: none"></div>
                            <p>Be the first person to comment on this...</p>
                            <div ng-repeat="(key,value) in comments">                                
                                <b>{{value.user_name}}</b> says
                                <blockquote class="testimonial">
                                    <p>{{value.user_comment}}</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact-form">
                        <h2 class="title text-center">POST COMMENT</h2>
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                            <div class="form-group col-md-12">
                                <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="text" name="Phone" class="form-control" required="required" placeholder="Phone">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="email" name="email" class="form-control" required="required" placeholder="Email">
                            </div>
                            <div class="form-group col-md-12">
                                <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your Query"></textarea>
                            </div>                   
                            <div class="form-group col-md-12">
                                <input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>              
            </div>  
        </div>  
    </div>
</section>

<section>   
    <div id="contact-page" class="container">
        <div class="bg">        
            <div class="row">   
                <div class="col-sm-12">
                    <div class="contact-form">
                        <h2 class="title text-center">Contact Us</h2>
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                            <div class="form-group col-md-4">
                                <input type="text" name="name" class="form-control" required="required" placeholder="Name">
                            </div>
                            <div class="form-group col-md-4">
                                <input type="text" name="Phone" class="form-control" required="required" placeholder="Phone">
                            </div>
                            <div class="form-group col-md-4">
                                <input type="email" name="email" class="form-control" required="required" placeholder="Email">
                            </div>
                            <div class="form-group col-md-12">
                                <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your Query"></textarea>
                            </div>  
                            <div class="form-group col-md-12">
                                <input type="checkbox" name="site_visit">&nbsp;Arrange Site Visit
                            </div>                      
                            <div class="form-group col-md-12">
                                <input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>              
            </div>  
        </div>  
    </div>
</section>