<div class="property">  
  <div id="navigationMenu">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#propertyNavigation" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="propertyNavigation">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#home">Home</a></li>
            <li><a href="#overview" ng-hide="property.data.overview == ''">Overview</a></li>
            <li><a href="#features" ng-hide="specifications == ''">Features</a></li>
            <li><a href="#specifications" ng-hide="property.data.features == ''">Specifications</a></li>
            <li><a href="#units" ng-hide="units == ''">Units</a></li>
            <li><a href="#priceList" ng-hide="property.data.price_list == '' && property.data.payment_plan==''">Price List</a></li>
            <li><a href="#gallery" ng-hide="property.media.property.gallery == ''">Gallery</a></li>
            <li><a href="#contUpdates">Construction Updates</a></li>
            <li><a href="#builder">Builder</a></li>
            <li><a href="#comments">Comments</a></li>
          </ul>
        </div>
      </div>
    </nav>    
  </div>
  <section class="container" id="home">
      <img ng-src="{{property.media.property.cover[0]}}" class="img-responsive img-thumbnail coverImage" alt="">
      <h1>{{property.name}}</h1>
      <section id="overview" ng-hide="property.data.overview == ''">
        <h2>Overview</h2>
        <div ng-bind-html="property.data.overview"></div> 
      </section>  
      <section id="features" ng-hide="specifications == ''">
          <h2>Features</h2>
          <ul class="featuresList">
            <li ng-repeat="(key,value) in specifications"><img ng-src="{{value.icon_path.logo[0]}}" class="img-responsive"><p>{{value.name}}</p></li>
          </ul>     
      </section> 
      <section id="specifications" ng-hide="property.data.features == ''">
          <h2>Specifications</h2>
          <div class="extendedDetailsBox">
              <div ng-bind-html="property.data.features"></div>
          </div>          
      </section> 
      <section class="customTabsHolder" id="units" ng-hide="units == ''">
          <h2>Units</h2>
          <ul class="nav nav-pills">
            <li ng-class="{'active':key == 0}" ng-repeat="(key, value) in units"><a href="javascript:" class="customTabs" data-show="{{'unit'+value.id}}">{{value.unit_name}}</a></li>
          </ul>
          <div class="extendedDetailsBox">
            <div class="{{'unit'+value.id}}" ng-repeat="(key, value) in units" ng-class="{'hideElem':key!=0}">
              <div class="row">
                <div class="col-sm-7">
                  <img ng-src="{{value.image_path.img[0]}}" class="img-responsive img-thumbnail" alt="">
                </div>
                <div class="col-sm-5">
                  <h3>{{value.unit_name}}</h3>
                  <p><strong>Price</strong> : {{value.unit_price_value}} {{value.unit_price_unit_value}}</p>
                  <p><strong>Price per sqft. area</strong> : {{value.unit_price_per_area_value}} {{value.unit_price_per_area_unit_value}}</p>
                  <p><strong>Area</strong> : {{value.unit_area}} sq.ft</p>
                  <p><strong>Details</strong></p>
                  <div ng-bind-html="value.unit_details"></div>
                </div>
              </div>
            </div>
          </div>        
      </section>          
      <section class="customTabsHolder" id="priceList" ng-hide="property.data.price_list == '' && property.data.payment_plan==''">
        <h2>Price list and Payment plan</h2>
        <ul class="nav nav-pills">
          <li class="active"><a href="javascript:" class="customTabs" ng-hide="property.data.price_list == ''" data-show="priceList">Price List</a></li>
          <li><a href="javascript:" class="customTabs" data-show="paymentList" ng-hide="property.data.payment_plan==''">Payment Plan</a></li>
        </ul> 
        <div class="extendedDetailsBox">          
          <div class="priceList" ng-hide="property.data.price_list == ''">
            <div ng-bind-html="property.data.price_list" class="priceList"></div>          
          </div>
          <div class="paymentList hideElem" ng-hide="property.data.payment_plan==''">
            <div ng-bind-html="property.data.payment_plan" class="paymentList"></div>               
          </div> 
        </div>
      </section> 
      <section id="gallery" ng-hide="property.media.property.gallery == ''">
          <h2>Gallery</h2>
          <div id="lightgallery" class="gallery">
            <a href="{{value}}" ng-repeat="(key,value) in property.media.property.gallery">
                <img ng-src="{{value}}" class="img-responsive img-thumbnail"/>
            </a>
          </div>
      </section>
      <section id="contUpdates">
        <h2>Construction Updates</h2>
          <div id="constructionGallery" class="gallery">
            <a href="{{value}}" ng-repeat="(key,value) in property.media.property.const_update">
                <img ng-src="{{value}}" class="img-responsive img-thumbnail"/>
            </a>
          </div>        
      </section>
      <section id="address">        
          <div class="row">
            <div class="col-sm-8 section1">
              <section ng-hide="hideGMap">
                <h2>Google Map</h2>
                <div class="text-center"><a href="javascript:" class="toggleMap btn">Toggle Map</a></div>             
                <div ng-bind-html="property.data.google_map_code" class="map"></div> 
                <div class="mapOverlay"></div>
              </section>
            </div>
            <div class="col-sm-4 section2">
              <section>  
                <h2>Address</h2>
                  <address class="text-center">
                    <p><strong>{{property.address}}</strong></p>
                  </address>              
              </section>
              <section>
                <h2>Possession</h2>
                <p class="text-center"><strong>{{ property.possession | date : 'MMM yyyy'}}</strong></p>
              </section>            
            </div>
          </div>
      </section>
      <section id="builder">
          <h2>Builder</h2>
          <div class="row">
            <div class="col-sm-3">
              <img ng-src="{{builder.logo_link.logo[0]}}" class="img-responsive" class="img-responsive" alt="">
            </div>
            <div class="col-sm-9">
              <h4>Name</h4>
              <p>{{builder.builder_description}}</p>
              <a ui-sref="search({where:'builder_id in ('+builder.id+')'})" class="btn">View Projects</a>
            </div>
          </div>
      </section>
      <section id="comments">
          <div class="row">
            <div class="col-sm-4">
              <section>  
                <h2>Post comment</h2>
                <form name="commentForm">
                  <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="comment.user_name" placeholder="Name" required>
                  </div>
                  <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" ng-model="comment.user_email" placeholder="Email" required=>
                  </div> 
                  <div class="form-group">
                    <label>Mobile</label>
                    <input type="tel" class="form-control" ng-model="comment.user_phone" placeholder="Mobile number (10 digit)" pattern="[0-9]{10}" required>
                  </div>
                  <div class="form-group">
                    <label>Comment</label>
                    <textarea rows="7" class="form-control" ng-model="comment.user_comment" required></textarea>
                  </div>    
                  <div class="form-group">
                    <button class="btn" ng-click="submitComment(commentForm)">Submit</button>
                  </div>                            
                </form>
              </section>
            </div>
            <div class="col-sm-8">
              <section>
                <h2>Comments</h2>
                <div class="commentsBox">
                  <p ng-show="comments == ''">No comments yet.</p>
                  <div class="comment" ng-repeat="(key,value) in comments">
                    <p><strong>{{value.user_name}}</strong></p>
                    <blockquote>{{value.user_comment}}</blockquote>
                  </div>
                </div>
              </section>
            </div>          
          </div>
      </section>
      <section id="contact">
          <h2>Contact us</h2>
          <form name="projectContactForm">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" placeholder="Name" required ng-model="query.user_name">
                </div>
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control" placeholder="Email" required ng-model="query.user_email">
                </div> 
                <div class="form-group">
                  <label>Phone</label>
                  <input type="tel" class="form-control" placeholder="Phone number" pattern="[0-9]{10}" required ng-model="query.user_phone">
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="query.arrange_site_visit"> Arrange site visit
                  </label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Query</label>
                  <textarea rows="6" class="form-control" placeholder="Query" ng-model="query.user_query" required></textarea>
                </div>
                <div class="form-group">
                  <button class="btn" ng-click="submitQuery(projectContactForm)">Submit</button>
                </div>
              </div>
            </div>
          </form>
      </section>                                   
  </section>
</div>